@import './variables';





.header {
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 105px 13px 8px;
    
    &__info {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__socials {
        display:flex;
        align-items: center;
    }
    
    &-icon {
        margin-right: 26px;
    }

    &__list-btn {
        width: 220px;
        margin-left: 47px;
        font-family: 'Industry';
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: white;
        background: none;
        border: 3px solid $purple;
        padding: 12px 0px 18px;
    }
    
}