

.roadmap {
    background: url('../../../public/images/roadmap/titleBg.png') right top / auto no-repeat;
    &__title {
    margin-bottom: 31.11px;
    padding: 55px 0px;
    }

    &__stages {
    
    }

}