
.video {
    display: flex;
    align-items: center;
    justify-content: center;
    &__container {
        margin: 0px 153px 0px  157px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__content {

        img {
            max-width: 1109px;
            max-height: 578px;
            padding: 0px 139px 0px 104px;
        }
    }

    &__border-left {
        margin-left:  104px;
    }

    &__border-right{
        margin-right: 153px;
    }
}

