
.video {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 211px 421px 211px 390px;
    background: url('../../../public/images/video/bg.png') 157px 0px no-repeat, url('../../../public/images/video/bg.png') top right no-repeat;;
}

